@keyframes gradientBackground {
  0% {
    background-color: #000000; /* Black */
  }
  25% {
    background-color: blue; /* Dark Gray */
  }
  50% {
    background-color: purple; /* Darker Gray */
  }
  75% {
    background-color: red; /* Even Darker Gray */
  }
  100% {
    background-color: violet; /* Black */
  }
}

.animated-background {
  animation: gradientBackground 10s ease infinite;
  background-size: cover;
}
